// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#survey {
}

.survey {
  border: 5px solid #c4c4c4;
  padding: 40px 60px 60px 60px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
  }

  &__title {
    font-size: $heading__size--large;
    font-weight: $weight-Bold;

    color: $text-blue;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $heading__size--medium;
    }
  }

  &__group {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 30px;

      .survey__wrapper {
        border-bottom: 1px solid #999999;
      }
    }
  }

  &__question {
    margin-bottom: 30px;
    font-size: $heading__size--small;
    font-weight: $weight-SemiBold;

    color: $text-blue;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
