// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 35px 40px;
  border-radius: $border-radius--large;

  background-color: #003399;
  color: $text-white;

  box-shadow: $shadow-primary;

  @include breakpoint($breakpoint-mobile--large) {
    align-items: flex-start;
    padding: 15px 20px;
  }

  @include breakpoint($breakpoint-mobile--medium) {
    flex-direction: column;
    align-items: center;
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-size: $text__size--large;
    font-weight: $weight-Bold;
    text-align: right;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 10px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      align-items: center;

      margin-top: 15px;
    }
  }

  &__link {
    color: $text-white;
    text-decoration: underline;
  }

  &__icon {
    transition: $transition__image;

    @include breakpoint($breakpoint-mobile--large) {
      width: 24px;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
