// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  background-color: $palette-white;
  box-shadow: $shadow-primary;

  border-bottom-left-radius: $border-radius--large;
  border-bottom-right-radius: $border-radius--large;

  @include breakpoint($breakpoint-mobile--large) {
    position: sticky;
    z-index: 200;
    top: 0;
    left: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 0;

  &__burger {
    display: none;
    margin-left: 10px;

    @include breakpoint($breakpoint-mobile--large) {
      display: block;
    }
  }

  &__logo {
    width: 100%;
    max-width: 320px;

    transition: $transition__image;

    @include breakpoint($breakpoint-laptop--large) {
      max-width: 270px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      max-width: 140px;
      margin-left: auto;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }

    img {
      width: 100%;
    }
  }

  &__nav {
    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }
}
