.form {
  &__title {
    margin-bottom: 35px;
    font-size: $heading__size--medium;
    font-weight: $weight-SemiBold;

    color: $text-blue;
    text-align: center;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 20px;
      font-size: 21px;
    }
  }

  &__wrapper {
    width: 100%;
  }

  &__button {
    margin-top: 85px;
  }

  &__privacy {
    text-align: center;
  }

  &__link {
    position: relative;
    color: $text-yellow;

    @media (hover: hover) {
      &:hover {
        color: $text-blue !important;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 1px;

      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
}
