.survey-slider {
  &__prev,
  &__next {
    top: initial;
    bottom: 0;

    width: initial;
    height: initial;

    margin-top: 0;

    &::after {
      content: none;
    }
  }

  &__prev {
    left: -90px;

    @include breakpoint($breakpoint-mobile--large) {
      left: 0;
    }
  }

  &__next {
    right: -90px;

    @include breakpoint($breakpoint-mobile--large) {
      right: 0;
    }
  }
}
