// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$button-primary__bg: #8099cc;
$button-primary__hover: #003399;
$button-secondary__bg: #ffd600;

@import "button";
